.header {
    background-color: lightgreen;
    font-size: large;
    text-align: center;
}

.user {
    text-align: right;
}


.footer {
    background-color: green;
    font-size: small;
    text-align: center;
    color: antiquewhite;

}

#user_logo {
    width: 20px;
    height: auto;
}