<!DOCTYPE html>
<html>
    <head>
        <title>PEOPLE APP</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/people.css' %}">
    </head>
    <body>
        {% for caption, link in links.items %}
        <a href={{link}}>{{caption}}</a>
        {% endfor %}

        {% include "partials/header.html" %}
        <hr/>
        <a href="../peopleList">People List</a>
        <a href="../personInput">Person Input</a>
        {% include "partials/content.html" %}
        <hr/>
        {% include "partials/footer.html" %}
    </body>
</html>